.Weather {
  background: linear-gradient(0deg, hsla(186, 33%, 94%, 1) 10%, #b3c5df 100%);
  border-radius: 15px;
  color: #243856;
}

#weather-description {
  font-size: 20px;
  letter-spacing: 1px;
}

#current-temp-celsius {
  font-size: 50px;
  font-weight: bold;
}

.input-field {
  border: none;
  border-radius: 5px;
  padding: 0px 15px;
}

.search-button {
  font-size: 18px;
  letter-spacing: 1px;
  color: #243856;
  background-color: #ffe15c;
  border-color: #ffe15c;
  font-weight: 600;
}

.search-button:hover {
  transition: all 200ms ease-in-out;
  background-color: #f5c800;
  border-color: #f5c800;
}

.loading-text {
  font-size: 20px;
  color: #b3c5df;
  letter-spacing: 2px;
  font-weight: bold;
}
